<body>

<div class="row">
	<div id="profile" class="rightcolumn">
		<div class="header">
		</div>
		<div class="card" style="float:right">
			<a routerLink="/main"><button >NewsFeed </button></a>
			&nbsp;
			<a routerLink="/explore"><button id="topbutton">Explore </button></a>
			&nbsp;
			<button (click)="logout()" id="topbutton">Logout</button>
		</div>
		<div id="userInfo" class="card">
			<h1 style="float:left">{{userName}}</h1>
			<img id="propic" [src]="avatar" ngShow="avatar !== undefined">
			<br/>
			<label id="status">Status:</label><div id="headline" [innerHTML]="status"></div>
			<br/>
		</div>					
	</div>
	<div id="articles" class="leftcolumn">
		<table id="postTable">
			<tr *ngFor="let articleP of articleArray; let i = index">
				<div class="tablecard">
					<td id="newArticle" class="card">
						<tr id="newArticle" class="card">
							<div class="media">
								<img id="posterImg" [src]="avatar">
								<h4 style="display:inline-block"><a [routerLink]="['/user', articleP.author]"><button id="userbutton">{{articleP.author}}</button></a> &#183; 
									<small style="font-size:15px;line-height:50px">{{articleP.date.substring(0,10)}}
									</small>
								</h4>
								<div id="edit" *ngIf="articleP.author == currUserName" style="display:inline-block; float:right; font-size:12px;line-height:70px">
									<!-- <span class="btn-group"> -->
									<button [class]="articleP.id" id="editArt" (click)="editArticles(articleP.id, articleP.author)">Edit</button>
									<button [class]="articleP.id" id="submitArt" style='display:none'  (click)="submitArticleEdit(articleP.id, articleP.id)">Submit</button>
									<!-- </span> -->
								</div>
							</div>

							<div class="fakeimg"><img id="articleImg" [src]="articleP.img" style="max-width: 600px"></div>
							<p [id]="articleP.id" class="something" style="max-width: 600px">{{articleP.text}}</p>
							<textarea [class]="'id'+i" style='display:none; width: 100%;'></textarea>
							<div style="display:inline-block; margin-left:1%;">
								<button [class]="'id'+i" style='display:none' (click)="submitComment(i, articleP.id, articleP.author)">Add Comment</button>
								<button [class]="'id'+i" (click)="addComment(i)">Comment</button>
								&nbsp;
								<button class="btn-link" (click)="comments(i)">Show/Hide Comments</button>
							</div>
							
						</tr>
						<tr *ngFor="let comment of articleP.comments; let ind = index">
							<div [class]="'id'+i" [id]="'id'+i"> 
								<div class="comCard" style="max-width: 500px">
									<div >
										<img id="posterImg" [attr.src]="getpic(comment.author | pipemodule | async)">
										<h4 style="display:inline-block"><a [routerLink]="['/user', comment.author]"><button id="userbutton">{{comment.author}}</button></a>&#183; 
											<small style="font-size:15px;line-height:50px">{{articleP.date.substring(0,10)}}
											</small>
										</h4>
										<div id="edit" *ngIf="comment.author == currUserName" style="display:inline-block; float:right; font-size:12px;line-height:70px">
											<button [class]="comment.commentId" id="editCom" (click)="editComments(comment.commentId, comment.author)">Edit</button> 
											<button [class]="comment.commentId" id="submitCom" style='display:none' (click)="submitComEdit(i, ind, comment.commentId, articleP.id, articleP.author)">Submit</button> 
										</div>
									</div>
									<p [id]="comment.commentId"> {{comment.text}}</p>
									
								</div>
							</div>
						</tr>
						<br>
					</td>
				</div>
			</tr>
		</table>
	</div>
</div >
</body>