<body>
<div class="row">
	<div class="leftcol">
		<div class="header"></div>
		<div id="mySidenav" class="sidenav">
		  <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
		  <a href="javascript:void(0)"(click)="aboutMe()">About Me</a>
		  <a href="javascript:void(0)" (click)="updateDetails()">Update Details</a>
		  <a href="javascript:void(0)" (click)="updateProPic()">Update Profile Picture</a>
		  <a href="javascript:void(0)" (click)="accountLinking()">Account Linking</a>
		  <a routerLink="/main">Back to Main Page</a>
		</div>
	</div>
	<div class="rightcol">
		<br><br>
		<div id="aboutme" class="profilecard">
			<img id="propic" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Sunflower_from_Silesia2.jpg" style="width: 100%">
			<h1>Name: {{currAccountInfo.name}}</h1>
			<p>Display Name: {{currAccountInfo.displayName}}</p>
			<p id="emailP">Email Address: {{currAccountInfo.email}}</p>
			<br>
		</div>

		<div id="pp" class="profilecard hidden">
		<h1>Update Profile Picture</h1>
		<form id="file-form" method="post" enctype="multipart/form-data">
				<label id="label">
					Choose new picture 
					<input type="file" name="Upload a Picture" accept="image/*" id="upload">
					<button id="picSubmit" type="submit" (click) = "handleFiles()" style="width:100%" class="btn btn-info">Upload Picture</button>
				</label>
			</form>
	</div>

	<div id="details" class="profilecard hidden">
		<h1>Update Current Details</h1>
		<form id="myForm" #regForm="ngForm" (ngSubmit)="onSubmitReg(regForm)">
			<div class="left">

				<div class="form-group">
					<label for="displayName">Display Name:</label>
					<input type = "text" class="form-control" name="displayName" style="width: 100%" placeholder="your display name" [(ngModel)]="accountInfo.displayName" #displayName="ngModel">
				</div>

				<div class="form-group">
					<label for="email">Email Address: </label>
					<input class="form-control" type = "text" id="email1" name="email" style="width: 100%" placeholder="e.g. xxx@gmail.com"  [(ngModel)]="accountInfo.email" #email="ngModel">
				</div>


				<div class="form-group">
					<label for="password">Password:</label>
					<input class="form-control" type = "password" name="password" id="pc" pattern="[a-zA-Z0-9]*" [(ngModel)]="accountInfo.password" #password="ngModel">
				</div>
			</div>

			<div class="left">
				<button type="submit" id="update123" class="btn btn-info">Update</button>
			</div>
		</form>
	</div>
	
	<div id="al" class="profilecard hidden">
		<h1>Link your multiple accounts</h1>
			If you have multiple accounts and would like to merge them,log in with your other account.
			<form #loginForm="ngForm">
				<div class="form-group">
					<label for="username">UserName:</label>
					<input class="form-control" type = "text" name="username" required [(ngModel)]="loginInfo.username" #username="ngModel">
				</div>

				<div class="form-group">
					<label for="password">Password:</label>
					<input class="form-control" type = "password" id="loginPassword" name="password" required [(ngModel)]="loginInfo.password" #Loginpassword="ngModel">
				</div>

				<div id="invalidCreds" class="pwd alert alert-danger hidden"> Not valid credentials.</div>

				<div class="">
					<button id="loginSubmit" type="submit" class="bottom btn btn-info" (click)="onSubmitLogin()" [disabled]="loginForm.invalid">Link</button>
					<button id="loginTPSubmit" class="bottom btn btn-danger" (click)="onSubmitThirdPartyLogin()">Link Google account</button>
				</div>
				<!-- <h1>UnLink your second account</h1>
				<button id="loginTPSubmit" class="btn btn-info" (click)="onSubmitLink()">Click to unlink site account</button>
				<button id="loginTPSubmit" class="btn btn-danger" (click)="onSubmitThirdPartyLink()">Click to unlink Google account</button> -->
			</form>
	</div>

	</div>
	</div>	
</body>